<div class="container-fluid p-0">
  <div class="row col-12 col-md-7 mx-auto px-1 py-4">

    <section class="col-12" id="record_header">
      <div class="row justify-content-between">
        <div class="col-6 my-auto">
          <h1 class="my-0">$ {{totalAmount}}</h1>
        </div>
        <div class="dropdown col-3 mx-auto px-0 text-right">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            類別
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#each catNames}}
            <a class="dropdown-item" href="#">{{this}}</a>
            {{/each}}
          </div>
        </div>
        <div class="col-3 text-right">
          <a href="/records/new" class="px-auto"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </section>

    <section class="col-12" id="record_body">
      {{#each records}}
      <div class="record_body_list">
        <div class="row">
          <div class="col-2 text-center my-auto">
            <i class="{{this.categoryIcon}}" id="record_body_list_category"></i>
          </div>
          <div class="col-4">
            <span>{{this.name}}</span>
            <span>{{this.date}}</span>
          </div>
          <div class="col-4 my-auto text-right">
            <h4 class="my-auto">$ {{this.amount}}</h4>
          </div>
          <div class="col-1 px-0 my-auto text-center">
            <i class="fas fa-edit"></i>
          </div>
          <div class="col-1 pl-0 my-auto text-center">
            <i class="fas fa-eraser"></i>
          </div>
        </div>
      </div>
      {{/each}}
    </section>
  </div>
</div>